<div class="subjects index">
  <h2>Subjects</h2>

  <p><%= link_to("Add New Subject", '#', :class => 'action new') %></p>

  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>#</th>
      <th>Subject</th>
      <th>Visible</th>
      <th>Pages</th>
      <th>Actions</th>
    </tr>

    <% @subjects.each do |subject| %>
       <tr>
         <td><%= subject.position %></td>
         <td><%= subject.name %></td>
         <td class="center"><%= subject.visiblle ? 'Yes' : 'No' %></td>
         <td class="center"><%= subject.pages.size %></td>
         <td class="actions">
            <%= link_to("Show", subject_path(subject), :class => 'actions show') %>
            <%= link_to("Edit", "#", :class => 'actions edit') %>
            <%= link_to("Delete", "#", :class => 'actions delete') %>
         </td>
       </tr>
    <% end %>
  </table>
</div>
